<a href="https://colab.research.google.com/github/akhilkanugolu/AI/blob/master/agentCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install -qqq langchain==0.0.165 --progress-bar off
!pip install -qqq openai==0.27.6 --progress-bar off

In [3]:
import os
from getpass import getpass

import pandas as pd
from IPython.display import Markdown, display
from langchain.agents import create_csv_agent
from langchain.chat_models import ChatOpenAI
from langchain.llms import OpenAI

In [4]:
# OPENAI_API_KEY = getpass()
os.environ['OPENAI_API_KEY'] = "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"

## Data

In [5]:
df = pd.read_csv("productivity-statistics-1978-2022.csv")
df.head()

,Series_reference,Period,Data_value,STATUS,UNITS,MAGNTUDE,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,PRDA.S1CAAZI,1978.03,1000.0,FINAL,Index,0,Productivity Statistics - PRD,Productivity Indexes - Industry Level (ANZSIC06),Capital,"Agriculture, Forestry and Fishing",Index,NaN,NaN
1,PRDA.S1CAAZI,1979.03,947.0,FINAL,Index,0,Productivity Statistics - PRD,Productivity Indexes - Industry Level (ANZSIC06),Capital,"Agriculture, Forestry and Fishing",Index,NaN,NaN
2,PRDA.S1CAAZI,1980.03,1054.0,FINAL,Index,0,Productivity Statistics - PRD,Productivity Indexes - Industry Level (ANZSIC06),Capital,"Agriculture, Forestry and Fishing",Index,NaN,NaN
3,PRDA.S1CAAZI,1981.03,1167.0,FINAL,Index,0,Productivity Statistics - PRD,Productivity Indexes - Industry Level (ANZSIC06),Capital,"Agriculture, Forestry and Fishing",Index,NaN,NaN
4,PRDA.S1CAAZI,1982.03,1144.0,FINAL,Index,0,Productivity Statistics - PRD,Productivity Indexes - Industry Level (ANZSIC06),Capital,"Agriculture, Forestry and Fishing",Index,NaN,NaN

In [6]:
df.shape

(14792, 13)

## Create Agent

In [7]:
agent = create_csv_agent(OpenAI(temperature=0), "productivity-statistics-1978-2022.csv", verbose=True)

In [8]:
agent

AgentExecutor(memory=None, callbacks=None, callback_manager=None, verbose=True, agent=ZeroShotAgent(llm_chain=LLMChain(memory=None, callbacks=None, callback_manager=None, verbose=False, prompt=PromptTemplate(input_variables=['agent_scratchpad', 'input'], output_parser=None, partial_variables={'df': '|    | Series_reference   |   Period |   Data_value | STATUS   | UNITS   |   MAGNTUDE | Subject                       | Group                                            | Series_title_1   | Series_title_2                    | Series_title_3   |   Series_title_4 |   Series_title_5 |\n|---:|:-------------------|---------:|-------------:|:---------|:--------|-----------:|:------------------------------|:-------------------------------------------------|:-----------------|:----------------------------------|:-----------------|-----------------:|-----------------:|\n|  0 | PRDA.S1CAAZI       |  1978.03 |         1000 | FINAL    | Index   |          0 | Productivity Statistics - PRD | Productivity Indexes - Industry Level (ANZSIC06) | Capital          | Agriculture, Forestry and Fishing | Index            |              nan |              nan |\n|  1 | PRDA.S1CAAZI       |  1979.03 |          947 | FINAL    | Index   |          0 | Productivity Statistics - PRD | Productivity Indexes - Industry Level (ANZSIC06) | Capital          | Agriculture, Forestry and Fishing | Index            |              nan |              nan |\n|  2 | PRDA.S1CAAZI       |  1980.03 |         1054 | FINAL    | Index   |          0 | Productivity Statistics - PRD | Productivity Indexes - Industry Level (ANZSIC06) | Capital          | Agriculture, Forestry and Fishing | Index            |              nan |              nan |\n|  3 | PRDA.S1CAAZI       |  1981.03 |         1167 | FINAL    | Index   |          0 | Productivity Statistics - PRD | Productivity Indexes - Industry Level (ANZSIC06) | Capital          | Agriculture, Forestry and Fishing | Index            |              nan |              nan |\n|  4 | PRDA.S1CAAZI       |  1982.03 |         1144 | FINAL    | Index   |          0 | Productivity Statistics - PRD | Productivity Indexes - Industry Level (ANZSIC06) | Capital          | Agriculture, Forestry and Fishing | Index            |              nan |              nan |'}, template='\nYou are working with a pandas dataframe in Python. The name of the dataframe is `df`.\nYou should use the tools below to answer the question posed of you:\n\npython_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [python_repl_ast]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\n\nThis is the result of `print(df.head())`:\n{df}\n\nBegin!\nQuestion: {input}\n{agent_scratchpad}', template_format='f-string', validate_template=True), llm=OpenAI(cache=None, verbose=False, callbacks=None, callback_manager=None, client=<class 'openai.api_resources.completion.Completion'>, model_name='text-davinci-003', temperature=0.0, max_tokens=256, top_p=1, frequency_penalty=0, presence_penalty=0, n=1, best_of=1, model_kwargs={}, openai_api_key=None, openai_api_base=None, openai_organization=None, batch_size=20, request_timeout=None, logit_bias={}, max_retries=6, streaming=False, allowed_special=set(), disallowed_special='all'), output_key='text'), output_parser=MRKLOutputParser(), allowed_tools=['python_repl_ast']), tools=[PythonAstREPLTool(name='python_repl_ast', description='A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.', args_schema=None, return_direct=False, verbose=False, callbacks=None, callback_manager=None, globals={}, locals={'df':       Series_reference   Period  Data_value       STATUS    UNITS  MAGNTUDE  \
0         PRDA.S1CAAZI  1978.03      1000.0        FINAL    Index         0
1         PRDA.S1CAAZI  1979.03       947.0        FINAL    Index         0
2         PRDA.S1CAAZI  1980.03      1054.0        FINAL    Index         0
3         PRDA.S1CAAZI  1981.03      1167.0        FINAL    Index         0
4         PRDA.S1CAAZI  1982.03      1144.0        FINAL    Index         0
...                ...      ...         ...          ...      ...       ...
14787     PRDA.S4LMSZP  2018.03         1.3        FINAL  Percent         0
14788     PRDA.S4LMSZP  2019.03         1.7        FINAL  Percent         0
14789     PRDA.S4LMSZP  2020.03         0.5        FINAL  Percent         0
14790     PRDA.S4LMSZP  2021.03        -0.8      REVISED  Percent         0
14791     PRDA.S4LMSZP  2022.03         1.7  PROVISIONAL  Percent         0

                             Subject  \
0      Productivity Statistics - PRD
1      Productivity Statistics - PRD
2      Productivity Statistics - PRD
3      Productivity Statistics - PRD
4      Productivity Statistics - PRD
...                              ...
14787  Productivity Statistics - PRD
14788  Productivity Statistics - PRD
14789  Productivity Statistics - PRD
14790  Productivity Statistics - PRD
14791  Productivity Statistics - PRD

                                                  Group  \
0      Productivity Indexes - Industry Level (ANZSIC06)
1      Productivity Indexes - Industry Level (ANZSIC06)
2      Productivity Indexes - Industry Level (ANZSIC06)
3      Productivity Indexes - Industry Level (ANZSIC06)
4      Productivity Indexes - Industry Level (ANZSIC06)
...                                                 ...
14787         Productivity Growth Accounting (ANZSIC06)
14788         Productivity Growth Accounting (ANZSIC06)
14789         Productivity Growth Accounting (ANZSIC06)
14790         Productivity Growth Accounting (ANZSIC06)
14791         Productivity Growth Accounting (ANZSIC06)

                                          Series_title_1  \
0                                                Capital
1                                                Capital
2                                                Capital
3                                                Capital
4                                                Capital
...                                                  ...
14787  Annual percentage change, labour inputs index,...
14788  Annual percentage change, labour inputs index,...
14789  Annual percentage change, labour inputs index,...
14790  Annual percentage change, labour inputs index,...
14791  Annual percentage change, labour inputs index,...

                          Series_title_2 Series_title_3  Series_title_4  \
0      Agriculture, Forestry and Fishing          Index             NaN
1      Agriculture, Forestry and Fishing          Index             NaN
2      Agriculture, Forestry and Fishing          Index             NaN
3      Agriculture, Forestry and Fishing          Index             NaN
4      Agriculture, Forestry and Fishing          Index             NaN
...                                  ...            ...             ...
14787                                NaN            NaN             NaN
14788                                NaN            NaN             NaN
14789                                NaN            NaN             NaN
14790                                NaN            NaN             NaN
14791                                NaN            NaN             NaN

       Series_title_5
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
...               ...
14787             NaN
14788             NaN
14789             NaN
14790             NaN
14791             NaN

[14792 rows x 13 columns]}, sanitize_input=True)], return_intermediate_steps=False, max_iterations=15, max_execution_time=None, early_stopping_method='force', handle_parsing_errors=False)

## Prompt

In [9]:
agent.agent.llm_chain.prompt

PromptTemplate(input_variables=['agent_scratchpad', 'input'], output_parser=None, partial_variables={'df': '|    | Series_reference   |   Period |   Data_value | STATUS   | UNITS   |   MAGNTUDE | Subject                       | Group                                            | Series_title_1   | Series_title_2                    | Series_title_3   |   Series_title_4 |   Series_title_5 |\n|---:|:-------------------|---------:|-------------:|:---------|:--------|-----------:|:------------------------------|:-------------------------------------------------|:-----------------|:----------------------------------|:-----------------|-----------------:|-----------------:|\n|  0 | PRDA.S1CAAZI       |  1978.03 |         1000 | FINAL    | Index   |          0 | Productivity Statistics - PRD | Productivity Indexes - Industry Level (ANZSIC06) | Capital          | Agriculture, Forestry and Fishing | Index            |              nan |              nan |\n|  1 | PRDA.S1CAAZI       |  1979.03 |          947 | FINAL    | Index   |          0 | Productivity Statistics - PRD | Productivity Indexes - Industry Level (ANZSIC06) | Capital          | Agriculture, Forestry and Fishing | Index            |              nan |              nan |\n|  2 | PRDA.S1CAAZI       |  1980.03 |         1054 | FINAL    | Index   |          0 | Productivity Statistics - PRD | Productivity Indexes - Industry Level (ANZSIC06) | Capital          | Agriculture, Forestry and Fishing | Index            |              nan |              nan |\n|  3 | PRDA.S1CAAZI       |  1981.03 |         1167 | FINAL    | Index   |          0 | Productivity Statistics - PRD | Productivity Indexes - Industry Level (ANZSIC06) | Capital          | Agriculture, Forestry and Fishing | Index            |              nan |              nan |\n|  4 | PRDA.S1CAAZI       |  1982.03 |         1144 | FINAL    | Index   |          0 | Productivity Statistics - PRD | Productivity Indexes - Industry Level (ANZSIC06) | Capital          | Agriculture, Forestry and Fishing | Index            |              nan |              nan |'}, template='\nYou are working with a pandas dataframe in Python. The name of the dataframe is `df`.\nYou should use the tools below to answer the question posed of you:\n\npython_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [python_repl_ast]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\n\nThis is the result of `print(df.head())`:\n{df}\n\nBegin!\nQuestion: {input}\n{agent_scratchpad}', template_format='f-string', validate_template=True)

In [10]:
display(Markdown(agent.agent.llm_chain.prompt.template))

You are working with a pandas dataframe in Python. The name of the dataframe is `df`.
You should use the tools below to answer the question posed of you:

python_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.

Use the following format:

Question: the input question you must answer
Thought: you should always think about what to do
Action: the action to take, should be one of [python_repl_ast]
Action Input: the input to the action
Observation: the result of the action
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the final answer
Final Answer: the final answer to the original input question


This is the result of `print(df.head())`:
{df}

Begin!
Question: {input}
{agent_scratchpad}

## Analyze Data

In [11]:
agent.run("How many rows and columns the data has?")

> Entering new AgentExecutor chain...
Thought: I need to find out the shape of the dataframe
Action: python_repl_ast
Action Input: df.shape
Observation: (14792, 13)
Thought: I now know the final answer
Final Answer: The data has 14792 rows and 13 columns.

> Finished chain.

'The data has 14792 rows and 13 columns.'

In [12]:
agent.run("Can you do simple EDA on the data?And give the EDA details of Data quality?")

> Entering new AgentExecutor chain...
Thought: I need to check the data quality of the dataframe
Action: python_repl_ast
Action Input: df.info()<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14792 entries, 0 to 14791
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  14792 non-null  object
 1   Period            14792 non-null  float64
 2   Data_value        14792 non-null  float64
 3   STATUS            14792 non-null  object
 4   UNITS             14792 non-null  object
 5   MAGNTUDE          14792 non-null  int64
 6   Subject           14792 non-null  object
 7   Group             14792 non-null  object
 8   Series_title_1    14792 non-null  object
 9   Series_title_2    14237 non-null  object
 10  Series_title_3    14237 non-null  object
 11  Series_title_4    0 non-null      float64
 12  Series_title_5    0 non-null      float64
dtypes: float64(4), int64(1), object(8)
memory usage: 1.5+ MB

Observation: None
Thought: I need to check the data types of the columns
Action: python_repl_ast
Action Input: df.dtypes
Observation: Series_reference     object
Period              float64
Data_value          float64
STATUS               object
UNITS                object
MAGNTUDE              int64
Subject              object
Group                object
Series_title_1       object
Series_title_2       object
Series_title_3       object
Series_title_4      float64
Series_title_5      float64
dtype: object
Thought: I need to check for any missing values
Action: python_repl_ast
Action Input: df.isnull().sum()
Observation: Series_reference        0
Period                  0
Data_value              0
STATUS                  0
UNITS                   0
MAGNTUDE                0
Subject                 0
Group                   0
Series_title_1          0
Series_title_2        555
Series_title_3        555
Series_title_4      14792
Series_title_5      14792
dtype: int64
Thought: I now know the final answer
Final Answer: The data quality of the dataframe is good, with no missing values and all columns having the correct data types. However, there are some columns with a large number of missing values (Series_title_2, Series_title_3, Series_title_4, and Series_title_5).

> Finished chain.

'The data quality of the dataframe is good, with no missing values and all columns having the correct data types. However, there are some columns with a large number of missing values (Series_title_2, Series_title_3, Series_title_4, and Series_title_5).'

In [16]:
agent.run("What is the % increase from 1981 to 1991?")

> Entering new AgentExecutor chain...
Thought: I need to calculate the difference between the two years and then calculate the % increase
Action: python_repl_ast
Action Input: df[df['Period'].between(1981.03, 1991.03)]['Data_value'].max() - df[df['Period'].between(1981.03, 1991.03)]['Data_value'].min()
Observation: 43315.5
Thought: I need to calculate the % increase
Action: python_repl_ast
Action Input: (df[df['Period'].between(1981.03, 1991.03)]['Data_value'].max() - df[df['Period'].between(1981.03, 1991.03)]['Data_value'].min()) / df[df['Period'].between(1981.03, 1991.03)]['Data_value'].min() * 100
Observation: -211295.1219512195
Thought: I now know the final answer
Final Answer: -211295.1219512195%

> Finished chain.

'-211295.1219512195%'